node_modules
.env
.env.*
.test-dist
dist
coverage
config.json
debug/
src/test/
src/test.ts
test
tests
.git
.gitignore
.npmignore
tsconfig.json
tsconfig.test.json
package-lock.json
*.log
*.tmp
.DS_Store
